@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#bg {
  background-image: url("/src/assets/main.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  background-clip: content-box;
  animation: bg 6s infinite alternate-reverse;
}

@keyframes bg {
  100% {
    transform: scale(1.2, 1.2);
  }
}

.main-content {
  height: calc(100vh - 5rem);
}

.table-body-height {
  height: calc(100vh - 14rem);
}

.h-table-all {
  height: calc(100vh - 12rem);
  z-index: 99999;
}

.h-document-content {
  height: calc(100vh - 4rem);
}
.h-full-important {
  height: 100% !important;
}

.h-container {
  height: calc(100vh - 4rem);
}

.w-transition {
  transition: width 0.3s;
}

.jodit-container {
  box-sizing: border-box;
  height: 100% !important;
}
.jodit-workplace {
  height: calc(100vh - 11.5rem) !important;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /*  width: 2px;
  height: 2px;
   height: 67px; */
}
::scrollbar {
  width: 6px;
  height: 6px;
  /*  width: 2px;
   height: 2px;
   height: 67px; */
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  display: none;
  /*  -webkit-box-shadow: inset 0 0 3px #b18933;
   border-radius: 1px; */
   background: #afb2b2;
}
::scrollbar-track {
  display: none;
   border-radius: 1px;
   background: #afb2b2;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #afb2b2;
}
::scrollbar-thumb {
  border-radius: 10px;
  background: #afb2b2;
}